<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
		<link href="DasPerfekteTeam.Podcaster/Resources/Public/Bower/podlove-web-player/dist/css/pwp-dark-gray.min.css" rel="stylesheet" media="screen" type="text/css"/>
	</f:section>
	<f:section name="headScripts">
		<script src="DasPerfekteTeam.Podcaster/Resources/Public/Bower/podlove-web-player/dist/js/vendor/jquery.min.js"></script>
		<script src="DasPerfekteTeam.Podcaster/Resources/Public/Bower/podlove-web-player/dist/js/podlove-web-player.js"></script>
	</f:section>
</head>
<body>
<f:section name="body">
	<div>
		<audio class="podcast" id="podcast-{documentNode.identifier}">
			<f:for each="{documentNode.properties.audio}" as="file">
				<source src="{f:uri.resource(resource: file.resource)}" type="{f:if(condition: '{file.resource.fileExtension} == \'m4a\'', then: 'audio/mp4', else: file.resource.mediaType)}">
			</f:for>
		</audio>
		<script>
			(function () {
				jQuery('audio').podlovewebplayer({metadata -> f:format.json() -> f:format.raw()});
			})();
		</script>
	</div>
</f:section>

</body>
</html>

<f:section name="podcast">


</f:section>
