{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="">
    <audio id="podcast-{documentNode.identifier}" class="podcaster-podlove-web-player" data-podlove-web-player='{metadata -> f:format.json() -> f:format.raw()}'>
        <f:for each="{documentNode.properties.audio}" as="file">
            <source src="{f:uri.resource(resource: file.resource)}"
                    type="{f:if(condition: '{file.resource.fileExtension} == \'m4a\'', then: 'audio/mp4', else: file.resource.mediaType)}">
        </f:for>
    </audio>
</div>
