<link rel="stylesheet" href="DasPerfekteTeam.Podcaster/Resources/Public/podlove-web-player/podlove-web-player.min.css">
<f:if condition="{loadJQuery}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</f:if>

<script type="text/javascript" src="DasPerfekteTeam.Podcaster/Resources/Public/podlove-web-player/podlove-web-player.js"></script>
<script type="text/javascript" src="DasPerfekteTeam.Podcaster/Resources/Public/JavaScript/init.js" async></script>
